/* body style */

    
 .open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} 
/* global styles */
.bg-color{
    background-color: rgba(255, 248, 243, 1);
}
.btn-container{
     width: 150px;
     height: 65px;
     color: white;
     background-color: rgba(253, 110, 10, 1);
     border-radius: 5px;
     border: none;
    font-size: 20px;
}
.btn-container a{
    color: white;
}
.btn-container2{
     width: 150px;
     height: 65px;
     color: #FD6E0A;
     background-color: white;
     border-radius: 5px;
     border: 1px solid #FD6E0A;
    font-size: 20px;
}
.btn-container2 a{
    color: #FD6E0A;
}
/* header style */
#Header{
    padding: 50px 230px;
    background-image: url(images/developer.png),url(images/header_bg.png);
    background-repeat: no-repeat,no-repeat;
    
    background-position: left center, right bottom;
    max-height: 740px;
}
/* nav styles */
nav{
    margin-bottom: 40px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
     /* padding: 50px 230px; */
    
}
nav ul a{
    text-decoration: none;
    color: #181818;
}
nav ul .nav-bar{
    display: flex;
    justify-content: center;
    gap: 30px; 
    font-size: 20px;
    align-items: center;
}
nav ul .nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.letter-decoration{
    color: rgba(253, 110, 10, 1);
}
/* banner styles */
.banner{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
   
    
}
.banner .banner-container{
    max-width : 580px;
    
}
.banner img{
    width: 580px;
    height: 670px;
}
.banner .banner-container .banner-greeting{
    font-size: 45px;
    font-weight: 600;
     color: #474747;
}
.banner .banner-container .banner-title{
    color: #474747;
    font-size: 55px;
    font-weight: 700;
    margin-top: -20px;
}
.banner .banner-container.banner-description{
    font-size: 18px;
    color: #474747;
}
.banner button{
    margin-top: 15px;
    margin-right: 10px;
}